/*--------------------------------------------------------- Index --------------------------------------------------------------*/
html {
    font-size: 100%;
}

main {
    background-color: none;
    background-image: linear-gradient(#D7E8FB 45%, white 75%);
}

a{
    text-decoration: none;
    margin: 0;
}
a:hover{
    text-decoration: none;
    color: black;
}

/*------------------------------- Navigatie -------------------------------------*/
#navigatie {
    margin: 0.5rem;
    align-items: center;
}

/*---- Hamburger menu ----*/
#hamburger img {
    width: 50px;
    height: 50px;
}

/*---- Profiel ----*/
#cirkel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9F9F7;
    border: 3px solid #951B81;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initialen {
    font-size: 1.563rem;
    color: black;
    font-weight: bold;
}

#cirkel:hover {background-color: #EC671B;}

#initialen:hover {
    font-size: 1.563rem;
    color: white;
    font-weight: bold;
}

/*------------------------------ PROFIEL INHOUD ------------------------------------*/
#profiel {
    display: none;
    position: absolute; /*-Negeert de rest van de content-*/
    margin: -0.5rem 3.5rem 9rem 67rem; /*-Afstanden van de randen-*/
    background-color: #D7E8FB;
    border-radius: 4%;
    box-shadow: 3px 6px 23px #3B8035;
    color: #DD4A9A;
    z-index: 3;
}

#profiel img {
    width: 70px;
    height: 70px;
}

.balk {
    display: flex;
    flex-direction: row;
    margin: 2rem; /*-De blauwe vlak-*/
    padding: 1.5rem 3rem 1.5rem 3rem; /*-De witte vlak-*/
    gap: 2rem;
    background-color: white;
    border: 3px solid #951B81;
    border-radius: 20px;
    align-items: center;
}

.balk h3{font-weight: bold; color: #951B81;}

.balk:hover{ background-color: #F1F1F1;}

#cirkel1{ /*profiel icoon*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#initialen1 { /*profiel initialen BK*/
    font-size: 1.75rem;
    color: black;
    font-weight: bold;
}

#cirkel1:hover {border: 4px solid #EC671B;} /*profiel icoon hover*/


/*--------------------------------- TITEL ---------------------------------------*/
#titel {
    background-image: url("../content/Pandaimg.svg");
    background-repeat: no-repeat;
    padding-top: 12em;
}

#titel h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow:  0px 3px 6px black ;
}

/*------------------------ TEGEL RIJEN, KEUZE MENU ------------------------------*/
#tegels {
    margin: 0;
    gap: 1.5rem;
    margin: 1rem 8rem;
    justify-content: center;
}

#tegels img {
    width: 10em;
    height: 10em;
}

#tegels .cell {
    background-color: white;
    padding: 1.5rem;
    width: 17em;
    height: 17em;
    box-shadow: 3px 6px 23px #ADADAE;
    text-align: center;
    border-radius: 25px;

}
#tegels .cell h2 {
    color: #C7067F;
    font-size: 1.375rem;
    font-weight: bold;
}

#tegels .cell p {
    color: #808080;
    margin-top: -0.8rem;
}


/*------------------------------ BOEKENTIP ------------------------------------*/
/*---- IMG boven de boekentip----*/
#liggendepanda {
    display: flex;
    flex-direction: inherit;
    align-self: center;
    margin-left: 10rem;
    margin-top: 3rem;
    width: 70em;
    height: 20em;
}

/*------------ IMG ------------*/
#boekpanda img {
    margin: 3rem 1rem 1rem 15rem;
    width: 55em;
    height: 18em;
}

/*------ Boekentip text ------*/
#boekentiptext {margin: 3rem 12rem 1rem 17rem;}

#boekentiptext h2 {
    color: #951B80;
    font-weight: bold;
}
#boekentiptext h1 {font-weight: bold;}

#boekentiprtext p {color: #707070;}

#italic {font-style: italic;}

#boekentiptext a {
    color: white;
    font-weight: bold;
    background-color: #EC671B;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 4rem;
}

#boekentiptext a:hover {background-color: #C57301;}/*---- Muis over de link ----*/


/*--------------------------------------------------------- RESPONSIVE --------------------------------------------------------------*/

/*--------------  A version --------------*/
@media screen and (max-width: 1025px){ 

#navigatie {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

/*----  Nieuwsbegrip logo ----*/
#logo {
    width: 15rem;
    height: auto;
}


/*------------------------------ BOEKENTIP ------------------------------------*/
/*---- IMG boven de boekentip----*/
#liggendepanda {
    margin: 0;
}
#liggendepanda img{
    margin-top: 3rem;
    width: 50em;
    height: 10em;
}

/*------------ IMG ------------*/
#boekpanda{padding-right: 0.3rem;}
#boekpanda img {
    width: 10em;
    height: 12em;
}
}


/*------------  Mobile Version ------------*/
@media screen and (max-width: 640px){ 

main {
    background-image: linear-gradient(#D7E8FB 99%, white 105%);
    padding-bottom: 2rem;
}

 /*------------------------------- Navigatie -------------------------------------*/
#navigatie {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

/*----  Hamburger menu ----*/
#hamburger {display: none;}

/*----  Nieuwsbegrip logo ----*/
#logo {
    width: 15rem;
    height: auto;
}

/*---- Profiel ----*/
#cirkel{
    width: 50px;
    height: 50px;
}

#initialen {
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}

/*------------------------------ PROFIEL INHOUD ------------------------------------*/
#profiel {
    display: none;
    position: absolute; /*---- Negeert de rest van de content ----*/
    margin: -0.5rem 3.5rem 9rem 10rem; /*---- Afstanden van de randen ----*/
    z-index: 3;
}

#profiel img {
    width: 50px;
    height: 50px;
}

.balk {
    margin: 2rem; /*---- De blauwe vlak ----*/
    padding: 1.5rem 3rem 1.5rem 1rem; /*---- De witte vlak ----*/
    gap: 1rem;
    border-radius: 20px;
    align-items: center;
}

.balk h3{font-size: 20px;}

#cirkel1{ /*---- profiel icoon ----*/
    width: 50px;
    height: 50px;
}   

#initialen1 { font-size: 1.25rem;}/*---- profiel initialen BK ----*/

/*--------------------------------- TITEL ---------------------------------------*/
#titel {
    background-image: url("../content/Pandaimg.svg");
    background-repeat: no-repeat;
    padding-top: 1em;
}

#titel h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow:  0px 3px 6px black ;
}

#tegels img {
    width: 8em;
    height: 8em;
}

#tegels .cell {
    width: 18rem;
    height: 16rem;
}
#tegels .cell h2 {
    color: #C7067F;
    font-size: 1.375rem;
    font-weight: bold;
}

#tegels .cell p {
    color: #808080;
    margin-top: -0.8rem;
}

/*------------------------------ BOEKENTIP ------------------------------------*/

#liggendepanda {display: none;} /*---- IMG die niet in mobile version plaatst vindt ----*/

/*------------ IMG ------------*/
#boekpanda{padding-right: 0.3rem;}

#boekpanda img {
    margin: 0;
    width: 6em;
    height: 8em;
}

/*------ Boekentip text ------*/
#boekentip {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    width: 20rem;
    background-color: white;
    box-shadow: 3px 6px 23px #ADADAE;
    border-radius: 25px;
    margin: auto;
}
#boekentiptext {margin: 0;}

#boekentiptext h2 {font-size: 1.375rem;}

#boekentiptext h1 {
    font-size: 1.125rem; 
    margin: 0;
}

#boekentiptext p {display: none;}

#boekentiptext a {display: none;}

body{max-width: 100%;}

}






