h1, h2, h3, h4{
    font-family: 'Asap';
}
h1{
    font-size: 25px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 18px;
}
p, li, ul, a{
    font-family: 'Open Sans';
    font-size: 18px;
}

button{
    cursor: pointer;
}

header h3{
    font-size: 16px;
    margin: 0;
}
header{
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    background-color: white;
}

.nav{
    text-align: center;
    padding: 1rem 0.6rem;
    color: #951B81;
    border-right: solid #951B81 2px; /*--------FIX DIT---------*/
}
.nav a{
    color: #951B81;
}
#stop{
    color: #56A5EA;
    padding: 1rem 0.6rem;
}
#stop  span{
    color: red;
}


/*-------------- MAIN ----------*/
main{
    background-color: #D7E9FB;
    padding-top: 7rem;
    height: 100vh;
}
#main{
    background-color: white;
    padding-bottom: 5rem;
    position: relative;
}