h1, h2, h3, h4{
    font-family: 'Asap';
    font-size: 20px;
}
h4{
    font-size: 18px;
}
p, li, ul, a{
    font-family: 'Open Sans';
    font-size: 18px;
}


header h3{
    font-size: 16px;
    margin: 0;
}
header{
    width: 95%;
    margin: auto;
}


.nav{
    text-align: center;
    padding: 1rem 0.6rem;
    color: purple;
    border-right: solid purple 2px; /*--------FIX DIT---------*/
}

#progress{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
#progress > h3{
    color: #77B72A;
    align-self: center;
    padding-left: 1rem;
}
#progressBalk{
align-self: center;
    height: 1.2rem;
    width: 60%;
    background: linear-gradient(to right, #77B72A 10%, rgb(225, 225, 225) 11%);
}

#stop{
    color: #56A5EA;
    padding: 1rem 0.6rem;
}
#stop  span{
    color: red;
}



/*-------------- MAIN ----------*/
main{
    background-color: #D7E9FB;
    padding-top: 2em;
    height: 100vh;
}
#main{
    background-color: white;
    padding-bottom: 5em;
}


/*--iconen--*/
#iconen{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.blue{
    width: 5em;
    height: 5em;
    background-color: rgb(31, 31, 64);
}


/*--vragen--*/
#antwoorden{
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 3rem;
}


/*----controleren---*/
#main a{
    background-color: rgb(192, 192, 192);
    border: solid 2px grey;
    border-radius: 8px;
    color: white;
    padding: 0.2rem 0.6rem;
}
#main button{
    color: white;
    background-color: orange;
    border: solid 2px orangered;
    border-radius: 8px;
    padding: 0.2rem 0.6rem;
}