

/*----header hoeveelste opdracht----*/
#progress{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
#progress > h3{
    color: #77B72A;
    align-self: center;
    padding-left: 1rem;
}
#progressBalk{
align-self: center;
    height: 1.2rem;
    width: 60%;
    background: linear-gradient(to right, #77B72A 15%, rgb(225, 225, 225) 16%);
}

/*-----iconen----*/
#iconen{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 2rem;
}
#iconen img{
    width: 5em;
    height: 5em;
    margin-top: 2rem;
}

/*----vragen-----*/
#antwoorden{
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 3rem;
}

/*----opdracht navigatie + controleren----*/
#opdrachtNavigatie a{
    background-color: rgb(192, 192, 192);
    border-radius: 8px;
    color: white;
    padding: 0.2rem 0.6rem;
}
#controleren{
    color: white;
    background-color: #F8BD66;
    border-radius: 8px;
    padding: 0.2rem 0.6rem;
    margin-bottom: 2rem;
}

#hiddena1{
    visibility: hidden;
}
#hiddena2{
    visibility: hidden;
}



/*---------popup uitleg-------------*/
#uitlegPopup{
    visibility: hidden;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    margin: auto;
}
#uitleg{
    text-align: center;
    align-items: center;
    background-color: #9C4794;
    color: white;
    padding: 3rem 0 1rem 0;
    border-radius: 20px;
    position: relative;
}
#uitleg h2{
    text-decoration: underline;
    font-size: 3rem;
}
#uitleg p{
    width: 50%;
    margin-top: 1rem;
}
#uitleg button{
    background-color: #F8BD66;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 4rem;
    font-size: larger;
}

/*mascotte*/
#uitleg div{
    background-color: white;
    border-radius: 150px;
    width: max-content;
    position: absolute;
    top: 8rem;
    right: 3rem;
}
#uitleg img{
    height: 15rem;
    width: 15rem;
}

/*---------- HULPFUNCTIE ------*/
#hulpfunctie button, #gefeliciteerd{
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}


/*---popup----*/
#hulpfunctiePopup .grid-y{
    background-color: white;
    width: 66.667%;
    height: 66.667%;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem 3rem;
    visibility: hidden;
}

#hulpfunctiePopup .grid-y .grid-x{
    justify-content: center;
}

#hulpfunctiePopup h2{
    text-align: center;
    margin-top: 6rem;
}
#keuze{ /*knoppen*/
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}
#keuze button{
    background-color: #F8BD66;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: larger;
}


 #moeiteMet, #naarTekst, #hulpVraag, #hulpTekst{
    visibility: hidden;
}




/*---------------------------------------------- BASISLESSEN PAGINA --------------------------------------------*/
#titel h2{
    margin: 3rem 0 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.verwijzing{
    padding: 0.4rem;
    border: solid 0.4rem #D7E9FB;
    border-radius: 10px;
}
#actiefLezen{
    margin-left: 3rem;
}
.verwijzing h3{
    text-align: center;
    color: #951B81;
    font-weight: bold;
}

#onderNavigatie{
    margin-top: 2rem;
}
#leestekstVerwijzing{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
#leestekstVerwijzing h4{
    align-self: center;
}
#leestekstVerwijzing img{
    height: 3rem;
}

#onderNavigatie a{
    color: white;
    background-color: #F8BD66;
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    margin-top: 0.9rem;
}

#main{
    padding-bottom: 1rem;
}