/*HEADER NAVIGATIEBALK BROODKRUIMELS*/
#progress{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
#progress > h3{
    color: #77B72A;
    align-self: center;
    padding-left: 1rem;
}
#progressBalk{
align-self: center;
    height: 1.2rem;
    width: 60%;
    background: linear-gradient(to right, #77B72A 15%, rgb(225, 225, 225) 16%);
}


/*PIJLTJE EN ICONEN BOVENAAN WITTE PAGINA*/
#bovenkantgrid {
    padding: 2rem;
}

/*Iconen (img) grootte*/
#bovenkantgrid img {
    width: 5em;
    height: 5em;
    margin-top: 2rem;
}

/*Drie iconen mascottes*/
#iconennavigatie {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: right;
}

/*Individuele iconen met onderschrift*/
.icoonmetonderschrift {
    margin-top: -1.5rem;
}

/*Paars pijltje links bovenin witte vlak*/
#pijltjeterug {
    margin-top: -1.5rem;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
}

/*Tekst onder de iconen rechts bovenin*/
.icoonmetonderschrift p {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

/*GEHELE OPDRACHT (+ TEKSTVLAK)*/
#opdracht1 {
    padding-left: 3rem;
}

/*Titel 'opdracht 1'*/
#opdracht1 legend {
    font-weight: bold;
    font-size: 1.8em;
}

/*Sleutelvraag titel*/
#opdrachttekst h3 {
    font-weight: bold;
    font-size: 1.4em;
}

#opdrachttekst p {
    margin-top: -0.4em;
}

/*Tekstvlak om antwoord in te typen*/
.tekstvlak {
    padding: 0.5rem;
    padding-left: 1rem;
    border: 1px solid gray;
    outline: none;
    height: 12rem;
    width: 50rem;
}

/*'VOLGENDE' KNOP*/
#volgendeknop {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*'Volgende' knop*/
#volgendeknop a {
    color: white;
    font-weight: bold;
    background-color: #EC671B;
    border-radius: 8px;
    font-size: 14px;
    padding: 0.5rem;
}

/*'Volgende' knop hover*/
#volgende a:hover {
    background-color: #C57301;
}

/*TABLET (EN MOBILE) VERSION*/
@media screen and (max-width: 1024px) {

    #opdracht1 {
        padding-right: 2rem;
    }

    #iconennavigatie {
        padding-right: 2rem;
        margin-left: 0rem;
    }

}