/*ID MOET CLASS WEZEN MAAR CSS IS VERVLOEKT!!!!!!!*/

#titel {
    background-image: url("../content/Pandaimg.svg");
    background-repeat: no-repeat;
    padding-top: 12em;
 

}
#titel h1{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow:  0px 3px 6px black ;
}

#tegels{
	grid-gap: 1rem;
    margin: 1rem 8rem;
    
}

#tegels img{
    width: 10em;
    height: 10em;
}
#tegels .cell{
    background-color: white;
    padding: 1.5rem;
    width: 18em;
    height: 18em;
    box-shadow: 3px 6px 23px #ADADAE;
    text-align: center;
    border-radius: 25px;

}
#tegels .cell h2{
    color: #C7067F;
    font-weight: bold;
}

#tegels .cell p{
    color: #808080;
}