/*ID MOET CLASS WEZEN MAAR CSS IS VERVLOEKT!!!!!!!*/


main {
    background-color: none;
    background-image: linear-gradient(#D7E8FB 45%, white 75%);
}

/*------------------------------- Navigatie -------------------------------------*/
#navigatie {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;
}

/*----Profiel ----*/
#cirkel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9F9F7;
    border: 3px solid #951B81;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initialen {
        font-size: 25px;
        color: black;
        font-weight: bold;
}

#cirkel:hover {
    background-color: #EC671B;
}

#initialen:hover {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

/*----Profiel inhoud----*/
#profiel {
    margin: 1rem 3.5rem 1rem 70rem;
    background-color: red;
    color: #DD4A9A;
    z-index: 3;
}
#profiel img {
    width: 50px;
    height: 50px;
}
.balk {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
}

/*--------------------------------- TITEL ---------------------------------------*/
#titel {
    background-image: url("../content/Pandaimg.svg"); /*alt toevoegeen*/
    background-repeat: no-repeat;
    padding-top: 12em;
 

}
#titel h1 {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow:  0px 3px 6px black ;
}

/*------------------------ TEGEL RIJEN, KEUZE MENU ------------------------------*/
#tegels {
	grid-gap: 1rem;
    margin: 1rem 9.5rem;
}

#tegels img {
    width: 10em;
    height: 10em;
}
#tegels .cell {
    background-color: white;
    padding: 1.5rem;
    width: 16em;
    height: 16em;
    box-shadow: 3px 6px 23px #ADADAE;
    text-align: center;
    border-radius: 25px;

}
#tegels .cell h2 {
    color: #C7067F;
    font-size: 22px;
    font-weight: bold;
}

#tegels .cell p {
    color: #808080;
    margin-top: -0.8rem;
}


/*------------------------------ BOEKENTIP ------------------------------------*/
/*---- IMG boven de boekentip----*/
#liggendepanda {
    display: flex;
    flex-direction: inherit;
    align-self: center;
    margin-left: 12rem;
    margin-top: 3rem;
    width: 70em;
    height: 20em;
}

/*------------ IMG ------------*/
#boekpanda img {
    margin: 3rem 1rem 1rem 10rem;
    width: 55em;
    height: 18em;
}

/*------ Boekentip text ------*/
#boekentiptext {
    margin: 3rem 12rem 1rem 11rem;
}

#boekentiptext h2 {
    color: #951B80;
    font-weight: bold;
}
#boekentiptext h1 {
    font-weight: bold;
}
#boekentiprtext p {
    color: #707070;
}
#italic {
    font-style: italic;
}

#boekentiptext a {
    color: white;
    font-weight: bold;
    background-color: #EC671B;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 4rem;
}

#boekentiptext a:hover { /*---- Muis over de link ----*/
    background-color: #C57301;
}
/*------------------------ ..... ...... ..... .... ------------------------------*/