


/*--- TYPOGRAFIE ---*/
h1, h2, h3, h4{
    font-family: 'Asap';
}
h1{
    font-size: 25px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 12px;
}
li, ul, a{
    font-family: 'Open Sans';
    font-size: 18px;
}

p{
    font-family: 'open sans';
    font-size: 10px;
}

/*blauwe achtergrond*/
main{
    background-color: #D7E9FB;
    padding-top: 7rem;
    padding-bottom: 3rem; 
}
/*Wit vlak*/
.main{
    background-color: white;
    padding-bottom: 3rem;
    position: relative;
}

header{
    padding: 0.1rem;
}

/*Navigatie*/

.nav h3{
    color: #951B81;
    text-align: center;
    padding: 1rem;
    border-right: solid 2px #951B81;
    margin: 0;
}

/*------------------------------- Navigatie -------------------------------------*/
/*---- Logo Nieuwsbegrip ----*/
#logo {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/*---- Iconen ----*/
#iconen {
   display: flex;
   align-items: center;
   justify-content:space-evenly;
}

#voortgangIcon img {
    height: 3rem;
    margin-right: 2rem;
}

/*---- Instellingen icoon ----*/
#instellingenIcon img {
    height: 2.5rem;
}

/*---- Profiel icoon ----*/
#cirkel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9F9F7;
    border: 3px solid #951B81;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#initialen {
    font-size: 1.563rem;
    color: black;
    font-weight: bold;
}

#cirkel:hover {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #EC671B;
    border: 3px solid #951B81;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initialen h3:hover {
    font-size: 1.563rem;
    color: white;
    font-weight: bold;
}



/*grootte logo responsive*/
/* #logo{
    align-items: center;
    max-width: 50vw;
    justify-content: center;
} */

/*BK rechts zetten*/
/* #bk h3{
    text-align: right;
} */

/*Het huisje in de navigatie*/
#homeLink{
    width: max-content;
}
#homeLink a{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    padding-right: 0.6rem;
}
#homeLink img{
    width: 2rem;
    margin-top: -0.3rem;
}

/*Bovenaan*/

.grid-y h2{
    color: #C7067F;
}

.opdrachtentegels h3{
    color: #C7067F;
}

#voortgangtekst{
    color: #C7067F;
    text-align: center;
    padding: 1rem;
}

.tegel{
    background-color: white;
    padding: 1.5rem;
    box-shadow: 3px 6px 23px #ADADAE;
    text-align: center;
    border-radius: 25px;
}

/*voor positionering content*/
.dropdown{
    width: 100%;
    position: relative;
    display: inline-block;
}

/*inhoud content*/
.dropdown-content{
    align-self: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 3px 6px 23px #ADADAE;
    z-index: 1;
  }

/*tekst in dropdown*/
  .dropdown-content h4{
    color: #C7067F;
  }

/* dropdown menu via hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* hover dropdown */
.dropdown:hover .dropdownbutton{
    background-color: #ADADAE;
}

/*voortgangsbalk in dropdown naast goed/fout*/
.voortgangdropal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.voortgangdropal h4{
    padding-top: 0.7rem;
}

/*voortgangsbalk in dropdown van actief lezen, goed*/
#voortgangdropalg{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 70%, rgb(209, 209, 209) 17%);
    text-align: left;
}

/*voortgangsbalk in dropdown van actief lezen, fout*/
#voortgangdropalr{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, red 30%, rgb(209, 209, 209) 17%);
    text-align: left;
}


/*voortgangsbalk in dropdown naast goed/fout*/
.voortgangdrop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.voortgangdrop h4{
    padding-top: 0.7rem;
}

/*voortgangsbalk in dropdown van alles behalve actief lezen, goed*/
#voortgangdropg{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 1%, rgb(209, 209, 209) 17%);
    text-align: left;
}

/*voortgangsbalk in dropdown van actief lezen, fout*/
#voortgangdropr{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, red 1%, rgb(209, 209, 209) 17%);
    text-align: left;
}

#tegelbasisles{
    width: 90%;
    margin: auto;
    background-color: white
}

#tegelandere{
    width: 90%;
    align-self: center;
    margin-top: 2rem;
    background-color: white
}

.opdrachtentegels{
    margin-top: 2rem;
    justify-content: center;
}

.tegel img{
    height: 6rem;
}

#voortgang{
    height: 1rem;
    width: 87%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 10%, rgb(209, 209, 209) 17%);
    text-align: left;
}

#voortgangactieflezen{
    height: 1rem;
    width: 87%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 100%, rgb(209, 209, 209) 17%);
    text-align: left;
}

/*responsive voor telefoon (small)*/
@media screen and (max-width: 640px){
    header .grid-x{
        justify-content: space-between;
    }
    #homeLink{
        text-align: left;
    }
    .nav{
        border: none;
    }
    .main100{
        height: 100%;
    }
    .main100 > .grid-x{
        width: 95%;
        margin: auto;
    }
    #iconen{
        margin: auto;
        scale: 80%;
    }

    .tegel{
        margin-bottom: 2rem;
    }

}