/*--- TYPOGRAFIE ---*/
h1, h2, h3, h4{
    font-family: 'Asap';
}
h1{
    font-size: 25px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 12px;
}
li, ul, a{
    font-family: 'Open Sans';
    font-size: 18px;
}

p{
    font-family: 'open sans';
    font-size: 10px;
}

/*blauwe achtergrond*/
main{
    background-color: #D7E9FB;
    padding-top: 7rem;
}
/*Wit vlak*/
.main{
    background-color: white;
    padding-bottom: 1rem;
    position: relative;
}
/*schermhoogte 100%*/
.main100{
    height: 100vh;
}

.nav h3{
    color: #C7067F;
    text-align: center;
    padding: 0.5rem;
    border-right: solid 2px #C7067F;
    margin: 0;
}

.grid-y h2{
    color: #C7067F;
}

.opdrachtentegels h3{
    color: #C7067F;
}

#voortgangtekst{
    color: #C7067F;
    text-align: center;
    padding: 1rem;
}

.tegel{
    background-color: white;
    padding: 1.5rem;
    box-shadow: 3px 6px 23px #ADADAE;
    text-align: center;
    border-radius: 25px;
}

/*voor positionering content*/
.dropdown{
    width: 100%;
    position: relative;
    display: inline-block;
}

/*inhoud content*/
.dropdown-content{
    align-self: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 3px 6px 23px #ADADAE;
    z-index: 1;
  }

/*tekst in dropdown*/
  .dropdown-content h4{
    color: #C7067F;
  }

/* dropdown menu via hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* hover dropdown */
.dropdown:hover .dropdownbutton{
    background-color: #ADADAE;
}

/*voortgangsbalk in dropdown naast goed/fout*/
.voortgangdropal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.voortgangdropal h4{
    padding-top: 0.7rem;
}

/*voortgangsbalk in dropdown van actief lezen, goed*/
#voortgangdropalg{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 70%, rgb(209, 209, 209) 17%);
    text-align: left;
}

/*voortgangsbalk in dropdown van actief lezen, fout*/
#voortgangdropalr{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, red 30%, rgb(209, 209, 209) 17%);
    text-align: left;
}


/*voortgangsbalk in dropdown naast goed/fout*/
.voortgangdrop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.voortgangdrop h4{
    padding-top: 0.7rem;
}

/*voortgangsbalk in dropdown van alles behalve actief lezen, goed*/
#voortgangdropg{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 1%, rgb(209, 209, 209) 17%);
    text-align: left;
}

/*voortgangsbalk in dropdown van actief lezen, fout*/
#voortgangdropr{
    height: 1rem;
    width: 25%;
    margin: 0.7rem;
    background: linear-gradient(to right, red 1%, rgb(209, 209, 209) 17%);
    text-align: left;
}

#tegelbasisles{
    width: 90%;
    margin: auto;
    background-color: white
}

#tegelandere{
    width: 90%;
    align-self: center;
    margin-top: 2rem;
    background-color: white
}

.opdrachtentegels{
    margin-top: 2rem;
    justify-content: center;
}

.tegel img{
    height: 6rem;
}

#voortgang{
    height: 1rem;
    width: 87%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 10%, rgb(209, 209, 209) 17%);
    text-align: left;
}

#voortgangactieflezen{
    height: 1rem;
    width: 87%;
    margin: 0.7rem;
    background: linear-gradient(to right, rgb(15, 232, 15) 100%, rgb(209, 209, 209) 17%);
    text-align: left;
}